LocalizedResources.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="LocalizedResources"
    targetNamespace="http://tempuri.org/LocalizedResources.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/LocalizedResources.xsd"
    xmlns:mstns="http://tempuri.org/LocalizedResources.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="LocalizationInfo">
    <xs:sequence>
      <xs:element name="Language" type="xs:language" minOccurs="1" maxOccurs="1" nillable="false " />
      <xs:element name="EnglishName" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false " />
      <xs:element name="NativeName" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false " />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false " />
      <xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false " />
      <xs:element name="Value" minOccurs="1" maxOccurs="1" nillable="true " />
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="Localization">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Info" type="LocalizationInfo" minOccurs="1" maxOccurs="1" nillable="false" />
        <xs:element name="ArrayOfResources" type="Resource" minOccurs="1" maxOccurs="unbounded" nillable="false" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
